.App {
  font-family: sans-serif;
  text-align: center;
}
.input-box {
  padding: 1rem;
  width: 60%;
  margin: auto;
}
.container {
  width: "70%";
  margin: "auto";
}
.emoji-span {
  font-size: 2rem;
  padding: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
